body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background: linear-gradient(135deg, #ffe4ec, #e0f7fa); /* rosita + celeste */
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #ffffff;
    padding: 25px;
    width: 350px;

    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* sombra suave */
}

h1 {
    text-align: center;
    color: #555;
    margin-bottom: 15px;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

label {
    color: #666;
}

input, select {
    width: 150px;
    padding: 5px;

    border: 1px solid #ddd;
    border-radius: 8px;

    background-color: #fafafa;
}

input:focus, select:focus {
    outline: none;
    border: 1px solid #ffb6c1; /* rosita al seleccionar */
}

button {
    margin-top: 15px;
    padding: 10px;

    border: none;
    border-radius: 10px;

    background: linear-gradient(135deg, #ffb6c1, #81d4fa); /* rosita + celeste */
    color: white;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}